#editar__prduto {
    padding: .7rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--card);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
}